.*.swp
.zed

hive-init-schema.yaml
hive-metastore/base/core-site.xml
hive-metastore/base/hive-site.xml
hive-metastore/resources/istio/base/params.env
hive-metastore/resources/nginx/base/params.env

postgresdb/resources/03-roles.sql

trino/base/trino-configmap.yaml
trino/base/trino-groups.txt
trino/base/trino-rules.json
trino/base/password.db
trino/resources/nginx/base/params.env
trino/resources/istio/base/params.env

**/base/secrets.env

hive-metastore/overlays/**
!hive-metastore/overlays/example
mysql-server/overlays/**
!mysql-server/overlays/example
postgresdb/overlays/**
!postgresdb/overlays/example
trino/overlays/**
!trino/overlays/example

env/**
!env/env.template
!env/example**

krb5.conf
*.keytab
*.jks
*.crt
*.cert
*.key
