.*.swp
hive-init-schema.yaml
hive-metastore/base/core-site.xml
hive-metastore/base/hive-site.xml
trino/base/trino-configmap.yaml
!trino/overlays/example
!mysql-server/overlays/example
!hive-metastore/overlays/example
**/overlays