CREATE ROLE pgadmin_role;
GRANT CONNECT ON DATABASE ${HIVE_DBNAME} TO pgadmin_role;
GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA ${HIVE_DBNAME} TO pgadmin_role;
GRANT USAGE,CREATE ON SCHEMA ${HIVE_DBNAME} TO pgadmin_role;
GRANT USAGE ON ALL SEQUENCES IN SCHEMA ${HIVE_DBNAME} TO pgadmin_role;

CREATE USER '${HIVE_DBUSER}' WITH PASSWORD '${HIVE_DBPASSWORD}';
GRANT pgadmin_role TO ${TRINO_USER};
ALTER SCHEMA ${HIVE_DBNAME} OWNER TO pgadmin_role;
