---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hive-metastore
  namespace: $(namespace)
spec:
  selector:
    matchLabels:
      app: hive-metastore
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: hive-metastore
    spec:
      securityContext:
        runAsUser: 999
        runAsGroup: 999
        fsGroup: 999
      containers:
      - name: hive-metastore
        image: quay.io/tcarland/hive:v3.1.3-skoll-2510.30
        imagePullPolicy: IfNotPresent
        env:
        - name: AWS_REGION
          valueFrom:
            secretKeyRef:
              name: hive-metastore-secrets
              key: S3_REGION
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: hive-metastore-secrets
              key: S3_ACCESS_KEY
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: hive-metastore-secrets
              key: S3_SECRET_KEY
        ports:
        - containerPort: 9083
        volumeMounts:
        - name: metastore-cfg-vol
          mountPath: /opt/hive/conf/hive-site.xml
          subPath: hive-site.xml
        - name: metastore-cfg-vol
          mountPath: /opt/hadoop/etc/hadoop/core-site.xml
          subPath: core-site.xml
        command: ["/opt/hive/bin/hive"]
        args: ["--service", "metastore"]
        resources:
          requests:
            memory: "4G"
            cpu: "1"
          limits:
            memory: "8G"
            cpu: "2"
        livenessProbe:
          tcpSocket:
            port: 9083
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          tcpSocket:
            port: 9083
          initialDelaySeconds: 5
          periodSeconds: 10
      volumes:
        - name: metastore-cfg-vol
          configMap:
            name: hive-metastore-cm
