# This template lists the various configuration options supported 
# by the setup script. The 'dotenv' technique is still in use here
# as most of these options have sane defaults as well commonly 
# being set upstream in the data stack with Trino generally being 
# the last in the stack. Most options are also configurable via
# script. The last three FILE options are the overrides perhaps 
# most likely useful to override per environment.

# trino environment
export TRINO_ENV=
export TRINO_NAMESPACE=trino
export HIVE_NAMESPACE=trino
export HIVE_IMAGE=

# s3 credentials
export S3_ENDPOINT=
export S3_REGION=
export S3_ACCESS_KEY=
export S3_SECRET_KEY=

# hive metastore details/credentials
export HIVE_DBHOST=
export HIVE_DBNAME=
export HIVE_DBUSER=
export HIVE_DBPASSWORD=
export HIVE_S3_BUCKET=

# ingress settings
export INGRESS_NAMESPACE=ingress-nginx
export HIVE_DOMAINNAME=
export TRINO_DOMAINNAME=

# trino admin credentials
export TRINO_USER=
export TRINO_PASSWORD=

export TRINO_JVM_MEMORY_GB="16"
export TRINO_MIN_CORES=2
export TRINO_MAX_CORES=4
